(
    population_size: 1000,
    household_size: 3,
    household_relation: 0.6,
    extra_relations: [(20,4,0.01), (2,20,0.1), (50, 20, 0.01)],
    hygenicity: 0.4,
    disease_spread: 0.01,
    disease_incubation: 7.0,
    personal_incubation_factor: 0.9,
    disease_recovery: 20,
    personal_disease_recovery_factor: 0.9,
    disease_mortality: 14,
    personal_disease_mortality_factor: 0.9
)